<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBp-SVSc3BfSgsqyQjXUH4yFVANvREn7fk</string>
	<key>GCM_SENDER_ID</key>
	<string>207265904044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YangSiKwanTalk.YangFinTalk</string>
	<key>PROJECT_ID</key>
	<string>lbta-swiftui-firebase-ch-d8201</string>
	<key>STORAGE_BUCKET</key>
	<string>lbta-swiftui-firebase-ch-d8201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207265904044:ios:9cd3bc18521587eb3fb609</string>
</dict>
</plist>